@CHARSET "ISO-8859-1";

#cadre_contenu{
	height:600px;
	font-style:Raleway;
}

.cadre_admin_infos{
	width:200px;
	height:500px;
}

.titre_lister_admin_infos{
	width:200px;
	height:20px;
	padding-top:60px;
	margin-bottom:5px;
	font-weight:bold;
}

.cadre_lister_admin_infos{
	width:200px;
	min-height:40px;
	border-radius:3px;
	margin-bottom:20px;
}

.cadre_item_admin_infos{
	height:20px;
	margin-bottom:2px;
	margin-left:10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cadre_item_admin_infos_logo{
	background:url('../../css/images/logo_client_new.png');
	background-size:30px;
	background-repeat:no-repeat;
	height:25px;
	margin-bottom:2px;
	margin-left:10px;
}

.cadre_item_synthese_en_construction{
	background-color:#D8D8D8;
	height:20px;
	margin-bottom:2px;
	margin-left:10px;
	padding-left:10px;
	padding-top:0px;
	border:1px solid white;
	font-weight:bold;
	border-radius:3px;
	color:#BDBDBD;
}

.barre_verticale{
	float:left;
	width:15px;
	text-align:center;
}

.cadre_liste_vue{
	float:left;
	width:730px;
	margin-left:220px;
	margin-top:-470px;
	height:500px;
}

.cadre_titre_vue{
	border-bottom:1px dotted grey;
	height:40px;
	float:left;
	margin-top:-20px;
	width:700px;
}

.cadre_contenu_vue_admin_infos{
	position:absolute;
	min-height:500px;
	width:700px;
	margin-top:35px;
	padding-left:8px;
	font-size:14px;
	font-style:Raleway;
	overflow-y:scroll;
	overflow-x:hidden;
	font-size:11px;
	height:600px;
}

.cadre_contenu_vue ul li {
	list-style-type: square;
    list-style-position: inside;
    margin-left:30px;
}

.cadre_contenu_vue ul li li{
	list-style-type: disc;
    list-style-position: inside;
    margin-left:30px;
}

.titre_vues_gd{
	float:left;
	color:#8A0829;
	min-width:150px;
	font-size:25px;
}

.titre_vue_gd{
	float:left;
	color:#6E6E6E;
	min-width:200px;
	font-size:25px;
}
.bdd_process{
	height:180px;	
	width:650px;
}
	
.bdd_process_categorie{
	background-color:#F2F2F6;
	height:180px;	
	width:200px;
	overflow-y:scroll;	
}

.bdd_process_fleche{
	background:url('../../css/images/bdd_process_fleche.png');
	background-size:8px;
	background-repeat:no-repeat;
	height:180px;	
	margin-left:220px;
	margin-top:-180px;
}

.bdd_process_liste{
	background-color:#F2F2F6;
	height:180px;	
	width:390px;	
	margin-left:240px;
	margin-top:-180px;
	overflow-y:scroll;
	color:#888;
}

.bdd_process_li{
	list-style:none;
	color:#888;	
	margin-left:6px;
}

.cadre_contenu_vue_admin_infos a{
	color:#888;	
}

.bdd_process_li_selected{
	list-style:none;
	font-weight:bold;
	color:#888;	
	margin-left:6px;
}

.bdd_process_li_tiret{
	list-style:none;
	font-weight:bold;
    border-bottom-style: dotted;
	border-width:1px;
	color:#888;	
	margin-left:6px;
	text-align:left;
}

.bdd_process_ss_menu{
	margin-top:30px;
	margin-left:12px;
	height:25px;
	font-weight:bold;
}

.carto_process{
	height:65px;	
	width:650px;
}

.taches_process{
	height:180px;	
	width:650px;
	margin-bottom:0px;
}









.process{
	min-width:650px;
	height:65px;
	margin-top:0px;
	margin-left:0px;
}

.cadre_lister_taches{
	width:695px;
	min-height:10px;
	margin-top:-15px;
	margin-left:10px;
	font-size:12px;
}

.cadre_titre_taches{
	width:650px;
}

.libelle_tache{
	float:left;
	width:250px;
	text-align:center;
	font-weight:bold;
	padding-top:20px;
}

.libelle_responsable{
	float:left;
	width:150px;
	text-align:center;
	font-weight:bold;
	padding-top:20px;
}

.date_debut{
	float:left;
	width:95px;
	text-align:center;
	font-weight:bold;
	padding-top:20px;
}

.date_fin_prev{
	float:left;
	width:70px;
	padding-top:14px;
	text-align:center;
	font-weight:bold;
	line-height: 90%;
}

.cadre_item_tache{
	width:695px;
	height:20px;
	float:left;
	margin-bottom:3px;
}

.statut_tache_to_be_started{
	float:left;
	width:25px;
	height:25px;
	background:url(../../css/images/statut_gris.png);
	background-repeat: no-repeat; 
	background-size:15px;
	margin-top:3px;
	cursor:pointer;
}

.statut_tache_in_progress{
	float:left;
	width:25px;
	height:25px;
	background:url(../../css/images/statut_bleu.png);
	background-repeat: no-repeat; 
	background-size:15px;
	margin-top:3px;
	cursor:pointer;
}

.statut_tache_completed{
	float:left;
	width:25px;
	height:25px;
	background:url(../../css/images/statut_vert.png);
	background-repeat: no-repeat; 
	background-size:15px;
	margin-top:3px;
	cursor:pointer;
}

.statut_tache_blocked{
	float:left;
	width:25px;
	height:25px;
	background:url(../../css/images/statut_rouge.png);
	background-repeat: no-repeat; 
	background-size:15px;
	margin-top:3px;
	cursor:pointer;
}

.fond_item_tache{
	float:left;
	width:600px;
	height:20px;
	background-color:#D8D8D8;
	border-radius:3px;
	margin-right:4px;
}

.fond_item_tache:hover{
	background-color:#FAFAFA;
}

.libelle_item_tache{
	float:left;
	width:270px;
	padding-left:5px;
}

.libelle_item_responsable{
	float:left;
	width:130px;
	text-decoration:italic;
}

.libelle_item_date_debut{
	float:left;
	text-align:center;
	width:90px;
	text-decoration:italic;
}

.libelle_item_date_fin_prev{
	float:left;
	text-align:center;
	width:80px;
	text-decoration:italic;
}

.libelle_item_tache:hover{
	cursor:pointer;
	text-decoration:underline;
}

.libelle_item_date_fin_prev:hover{
	cursor:pointer;
	text-decoration:underline;
}



.valider_tache_ok{
	float:left;
	width:20px;
	height:20px;
	background:url(../../css/images/valider_tache_ok.png);
	background-repeat: no-repeat; 
	background-size:15px;
	margin-top:3px;
	margin-left:3px;
	cursor:pointer;
}

.valider_tache_ko{
	float:left;
	width:20px;
	height:20px;
	background:url(../../css/images/valider_tache_ko.png);
	background-repeat: no-repeat; 
	background-size:15px;
	margin-top:3px;
	margin-left:3px;
	cursor:pointer;
}

.supprimer_tache{
	float:left;
	width:20px;
	height:20px;
	background:url(../../css/images/supprimer_tache.png);
	background-repeat: no-repeat; 
	background-size:15px;
	margin-top:3px;
	cursor:pointer;
}

.privatiser_tache_ok{
	float:left;
	width:20px;
	height:20px;
	background:url(../../css/images/privatiser_tache_ok.png);
	background-repeat: no-repeat; 
	background-size:15px;
	margin-top:3px;
	cursor:pointer;
}

.privatiser_tache_ko{
	float:left;
	width:20px;
	height:20px;
	background:url(../../css/images/privatiser_tache_ko.png);
	background-repeat: no-repeat; 
	background-size:15px;
	margin-top:3px;
	cursor:pointer;
}

.bouton_ajouter_attribute{
	width:20px;
	float:left;
	margin-top:0px;
	margi-bottom:0px;
	margin-left:40px;
	height:20px;
	cursor:pointer;
	border-radius:3px;
	background-color:#303030;
	text-align:center;
	color:white;
	font-weight:bold;
	font-size: 14px;
}

.bouton_ajouter_tache{
	width:20px;
	float:right;
	margin-top:6px;
	margin-right:50px;
	height:20px;
	cursor:pointer;
	border-radius:3px;
	background-color:#303030;
	text-align:center;
	color:white;
	font-weight:bold;
	font-size: 14px;
}

.bouton_ajouter_phase{
	width:20px;
	float:left;
	margin-top:35px;
	margin-left:-83px;
	height:20px;
	cursor:pointer;
	border-radius:3px;
	background-color:#303030;
	text-align:center;
	color:white;
	font-weight:bold;
	font-size: 14px;
}

.cadre_lister_phases{
	float:left;
	width:720px;
	height:50px;
	font-style:Raleway;
}

.phase_date_fin{
	float:left;
	width:40px;
	height:35px;
	font-size:12px;
	line-height:95%;
	padding-top:6px;
	text-align:left;
	font-style:italic;
}

.phase_date_debut{
	float:left;
	width:40px;
	height:35px;
	font-size:12px;
	line-height:95%;
	padding-top:6px;
	text-align:right;
	font-style:italic;
}

.phase_fleche_date_process{
	float:left;
	width:20px;
	height:50px;
	background:url(../../css/images/fleche_date_process.png);
	background-repeat: no-repeat; 
	background-position:50% 6px;
	background-size:5px;
}

#phase{
	float:left;
	width:70px;
	height:25px;
	text-align:center;
	padding-top:4px;
	font-weight:bold;
	font-size:14px;
	color:white;
	border:2px solid white;
	cursor:pointer;
	background:url(../../css/images/statut_phase_gris.png);
	background-repeat: no-repeat; 
	background-position:center;
	background-size:70px 22px;
}

.phase_completed{
	background:url(../../css/images/statut_phase_vert.png);
	background-repeat: no-repeat; 
	background-position:center;
	background-size:70px 22px;
}

.phase_blocked{
	background:url(../../css/images/statut_phase_rouge.png);
	background-repeat: no-repeat; 
	background-position:center;
	background-size:70px 22px;
}

.phase_in_progress, .phase_in_progress_init{
	background:url(../../css/images/statut_phase_bleu.png);
	background-repeat: no-repeat; 
	background-position:center;
	background-size:70px 22px;
}

.phase_to_be_started{
	background:url(../../css/images/statut_phase_gris.png);
	background-repeat: no-repeat; 
	background-position:center;
	background-size:70px 22px;
}



.menu_admin_workspace{
	--height:30px;
	--width:30px;
	--float:left;
}
.menu_admin_workspace > ul li a { color: #fff; text-decoration: none; height:14px; width:80px;}  
.menu_admin_workspace > ul li:hover { background:#888; }
.menu_admin_workspace ul li{  
    background-color:#303030;  
    border:0px solid white; 
    padding-left:4px;
    padding-bottom:4px;
	margin:1px;
    text-align:left;
    font-size:9px;
    font-weight:normal;
    height:14px;
}
.menu_admin_workspace ul {  
	float:left;  
	position:relative;
    top: 0; left:0;  
	max-height:0em;   
    margin:5px 0px 0px 10px;
    padding:0px;
    background-color:none;  
    overflow:hidden;  
    transition: 1s max-height 0.3s; 
    list-style : none;
    width:80px;
}  
.menu_admin_workspace:hover ul {  
    max-height:13em;  
}






.menu_admin_workspace2{
	min-height:15px;
	width:120px;
	float:left;
	position:absolute;
}

.menu_admin_workspace2 > ul li a { color: #fff; text-decoration: none; height:14px; width:80px;}  
.menu_admin_workspace2 > ul li:hover { background:#888;	z-index:100000;}
.menu_admin_workspace2 ul li{  
    background-color:#303030;  
    border:0px solid white; 
    padding-left:4px;
    padding-bottom:4px;
	margin:1px;
    text-align:left;
    font-size:9px;
    font-weight:normal;
    height:14px;
	z-index:100000;
}
.menu_admin_workspace2 ul {  
	float:left;  
	position:relative;
    top: 0; left:0;  
	max-height:0em;   
    margin:0px 0px 0px 5px;
    padding:0px;
    background-color:none;  
    overflow:hidden;  
    transition: 1s max-height 0.3s; 
    list-style : none;
    width:80px;
}  
.menu_admin_workspace2:hover ul {  
    max-height:13em;  
}

