@CHARSET "ISO-8859-1";

.cadre_item_tache_sl{
	width:695px;
	height:20px;
	float:left;
	margin-bottom:3px;
	background:url(../../css/images/sort.png);
	background-repeat:no-repeat; 
	background-size:20px;
	background-position:628px 4px;
	cursor:pointer;
}

.contenu_popup{
	margin:auto;
	width:840px;
	height:450px;
}

.image_secteurs{
	margin:auto;
	width:502px;
	height:195px;
	background:url(../../css/images/schema_secteurs.jpg);
	background-repeat:no-repeat; 
	background-position:55px 0px; 
	padding-left:55px;
	padding-top:78px;
	--margin-top:50px;
}

.secteur1{
	float:left;
	margin-left:-1px;
	margin-top:0px;
	width:225px;
	height:18px;
	background-color:white;

}

.secteur4{
	float:left;
	margin-left:23px;
	margin-top:-18px;
	width:200px;
	height:18px;
	background-color:white;
}

.secteur2{
	float:left;
	margin-left:226px;
	margin-top:-18px;
	width:225px;
	height:18px;
	background-color:white;
}

.secteur3{
	float:left;
	margin-left:226px;
	margin-top:4px;
	width:200px;
	height:18px;
	background-color:white;
}

.label_dent{
	margin-left: 0;
	text-align: center;
}

.w_cell_28{
	width: 28px;
}

.w_cell_24{
	width: 24px;
}

.f_left{
	float: left;
}

.f_right{
	float:right;
}

.contenu_formulaire{
	margin:auto;
	width:100%;
	height:250px;
	z-index:150;
}

.cadre_secteurs{
	margin:auto;
	width:100%;
	height:440px;
	overflow-y:scroll;
	overflow-x:hidden;
}

.titre_colonnes{
	width:73px;
	height:44px;
	border-radius:2px;
	background-color:grey;
	color:black;
	margin-right:-29px;
	margin-top:auto;
	margin-bottom:auto;
	text-align:left;
	font-weight:bold;
	font-size:20px;
	color:white;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
	vertical-align:middle;
  	display:inline-block;
	line-height:28px;
	cursor:pointer;
	padding-top:5px;
	padding-left:3px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: lr-tb;
}


.titre_colonnes2{
	width:63px;
	height:44px;
	border-radius:2px;
	background-color:grey;
	color:black;
	margin-right:0px;
	margin-top:auto;
	margin-bottom:auto;
	text-align:left;
	font-weight:bold;
	font-size:20px;
	color:white;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
	vertical-align:middle;
  	display:inline-block;
	line-height:28px;
	cursor:pointer;
	padding-top:5px;
	padding-left:3px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: lr-tb;
}

.titre_lignes{
	width:43px;
	height:24px;
	border-radius:1px;
	background-color:#ccc;
	color:#666;
	text-align:center;
	font-weight:bold;
	font-size:20px;
	line-height:20px;
	
}

.cadre_dent{
	height:50px;
}

.ligne_dent{
	height:20px;
}

.div_checkbox{
	width:44px;
	height:24px;
	border-radius:2px;
	color:black;
	text-align:center;
	margin-right:5px;	
	margin-top:3px;	
	line-height:18px;
}


.contenu_popup2{
	width:400px;
	--height:350px;
	margin:auto;
	position:absolute;
	top:50%;
	margin-top:-30%;
	left:50%;
	margin-left:-205px;
}

.famille{
	width:90%;
	text-align:center;
	border-radius:3px;
	margin:auto;
	margin-top:3px;
	margin-bottom:3px;
	color:white;
	cursor:pointer;
    height: 45px;
    vertical-align: middle;
    --line-height: 40px;
}

.groupe_famille{
	margin:auto;
	width:90%;
	padding-top:20px;
	padding-bottom:5px;
	margin-top:3px;
	border-radius:3px;
	color:white;
}

.bgc_104080{
	background-color:#0D3367;
}
.bgc_ED7D26{
	background-color:#F9D2B3;
}
.bgc_D45522{
	background-color:#DE6534;
}
.bgc_E44546{
	background-color:#E44546;
}
.bgc_B9261D{
	background-color:#B9261D;
}
.bgc_622989{
	background-color:#4F216F;
}

.contenu_formulaire2{
	margin:auto;
	margin-top:20px;
	width:100%;
	height:300px;
	z-index:150;
	overflow-y:auto;
}

.contenu_formulaire3{
	margin:auto;
	margin-top:0px;
	margin-left:15px;
	padding-left:0px;
	width:680px;
	height:330px;
	z-index:150;
	overflow-y:auto;
}
.cadre_item_tache_sl2{
	width:660px;
	height:20px;
	float:left;
	margin-bottom:3px;
	cursor:pointer;
}

.label_acte{
	text-transform: uppercase;
}





.libelle_item_tache2{
	float:left;
	width:240px;
	min-height:18px;
	padding-left:5px;
	white-space:wrap;
	line-height:14px;
	margin-top:2px;
	margin-bottom:1px;
}
.cadre_item_tache_sl3{
	width:660px;
	float:left;
	margin-bottom:3px;
	cursor:pointer;
}
.fond_item_tache2{
	float:left;
	width:600px;
	min-height:20px;
	background-color:#D8D8D8;
	border-radius:4px;
	margin-right:4px;
}


.tb_dents_actes{
	--width:840px;
	--height:100%;
	margin:auto;
	padding:0px;
	margin:0px;
	margin-top:0px;
	margin-bottom:30px;
	border-collapse: separate;	border-spacing:2px;
}

.th_titre_colonnes{
	padding:0px;
	margin:0px;
	border:0px;
}
	
.td_titre_colonnes{
	--width:33px;
	height:123px;
	background-color:grey;
	color:black;
	text-align:left;
	font-weight:bold;
	font-size:20px;
	color:white;
	vertical-align:middle;
	--line-height:28px;
	border-radius:2px;
	--border:3px solid white;
	--padding-bottom: 5px;
	--margin-left: 20px;
}

.div_titre_colonnes{
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: lr-tb;
	border-radius:2px;
	
	width: 123px;
	--height: 44px;
	line-height: 40px;
	--padding-top: 24px;
	--margin-left: -20px;
	--margin-bottom:-30px;
	margin:-40px;
	margin-top:-20px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tr_separator{
	height:15px;
}
	
.td_checkbox{
	width:57px;
	height:24px;
	text-align:center;
}

.td_titre_lignes{
	width:43px;
	height:24px;
	border-radius:1px;
	background-color:#ccc;
	color:#666;
	text-align:center;
	font-weight:bold;
	font-size:20px;
	line-height:20px;
	
}


